.vscode/*
.venv/*
**/__pycache__/**
.idea/*
word_embeddings/*
datasets/*
graph_saves/*
model_saves/*
plots/*
tensorboard_runs/*
results/*
outputs/*

*.log
*.out
vusualize_results.py
parameters_scan.py
prova.py
prova.ipynb
